* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/**/
#info-overlay {
  user-select: none;/* disable user select*/
  position: absolute;
  text-align: center;
  background-color: rgba(21, 113, 4, 0.9);;
  opacity: 0.9;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  z-index: 100;

}
#controls {
  user-select: none;
  position: absolute;
  font-size: 10px;
  top: 560px;
  width: 100%;
  z-index: 100;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: left;
  color: white;
}

#controls div {
  display: flex; 
  align-items: center; 
  flex: 0 0 auto; 
  background-color: rgba(21, 113, 4, 0.9); 
  padding: 5px 10px; 
  border-radius: 5px; /* Rounded corners */
  margin: 0 5px; /* Add spacing between the divs */
}

#controls img {
  width: 20px; /* Set image width */
  height: 20px; /* Set image height */
  margin-left: 5px; /* Space between text and image */
}

#building-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  overflow-y: auto;
  display: none; /* Hidden by default */
  z-index: 1000;
}

#building-info h2 {
  margin-top: 0;
}

.hidden {
  display: none;
}

canvas {
  display: block; 
}
